amqp==2.3.2
billiard==3.5.0.4
boto==2.42.0
celery==4.1.1
celery-with-redis==3.0
certifi==2018.8.24
chardet==3.0.4
coverage==4.5.1
crypto==1.1.0
defusedxml==0.5.0
Django==2.2.10
django-appconf==0.6
django-celery-beat==1.1.1
django-celery-results==1.0.1
django-cors-headers==2.4.0
django-dbbackup==3.2.0
django-debug-panel==0.8.3
django-debug-toolbar==1.9.1
django-extensions==1.7.7
django-filter==0.6
django-mptt==0.9.1
django-robots==3.1
django-rosetta==0.7.14
django-session-cleanup==1.0.0
django-smtp-ssl==1.0
django-storages==1.7.1
djangorestframework==3.9.1
djangorestframework_simplejwt
docutils==0.14
dropbox==9.1.0
factory-boy==2.8.1
Faker==0.9.0
idna==2.7
ipdb==0.7
ipython==0.13.2
isodate==0.4.9
kombu==4.2.1
Markdown==2.3.1
microsofttranslator==0.8
mock==2.0.0
Naked==0.1.31
oauthlib==2.1.0
pbr==4.2.0
Pillow==5.2.0
polib==1.1.0
psycopg2==2.7.5
pyasn1==0.1.7
pycrypto==2.6.1
PyJWT==1.6.4
python-dateutil==2.4
python3-openid==3.1.0
pytz==2018.5
PyYAML==5.1
redis==2.10.6
requests==2.20.0
requests-oauthlib==1.0.0
rsa==3.1.2
simplejson==3.10.0
six==1.10
social-auth-app-django==2.0.0
social-auth-core==1.7.0
South==0.8.1
sqlparse==0.2.0
text-unidecode==1.2
urllib3==1.24.2
uWSGI==2.0.15
vine==1.1.4


